<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario no encontrado - jpotnian</title>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Press+Start+2P&display=swap">

    <!-- Estilos CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        // Redirigir a la página de registro después de 3 segundos
        setTimeout(function() {
            window.location.href = "{{ url_for('register') }}";
        }, 3000);
    </script>
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Usuario no encontrado</h1>
            <p>El usuario que ingresaste no existe o la contraseña es incorrecta.</p>
            <p>Redirigiendo a la página de registro en 3 segundos...</p>
        </div>
    </header>

    <footer>
        <p>© 2024 jpotnian. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
